body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #FFFAFA;
  color: grey;
  padding: 0.5rem;
  text-align: center;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.adjustname {
  position: relative;
  bottom: 10px;  
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;  
}

.product-card {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  text-align: center;  
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .product-container {
    flex-direction: column;
  }
}

.product-container__card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.2s ease-in-out;
  width: 30%;
}

@media (max-width: 900px) {
  .product-container__card {
    width: 100%;
  }
}

.product-container__card:hover {
  transform: translateY(-5px);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.icon {
  height: 50px;
  width: 50px;
}

.icon + span {
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: inline-flex;
  border-radius: 5px;
  overflow: hidden;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease-in-out;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-right: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: none;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
